.mynav{margin:0;padding:0;outline:0;list-style:none;}
.mynav li{}
.mynav li a {
	text-decoration: none;
	background: #666;
	display: block;
	color: #ddd;
	margin-bottom: 1px;
	padding: 5px;
}
.mynav li a:hover{
	background:#444;
}
.mainnav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainnav li{
	float:left;
}
.mainnav li a {
    text-decoration: none;
    background: #333;
    color: #fff;
    padding: 4px;
    margin-right: 4px;
}
.mainnav li a:hover{
	background:#ddd;
	color:#000;
}
table.mytable {
    margin: 20px 80px 20px 80px;
	
}
table.mytable tr td{
	text-align:center;
}
table.mytable tr th {
    background: #444;
    color: #fff;
    padding: 5px;
}
table.mytable tr:nth-child(2n+1) {
    background: #fff;
    height: 30px;
}
table.mytable tr:nth-child(2n){
	background:#D1D0D1;
	 height: 30px;
}